body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("C:/codes/personal_pro/img/f0c2b78ba29512a8db025159c0cd89c6.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
    background-position: center;

  }
  

  nav {
    background-color: #1c4c9e;
    color: #fff;
    padding: 1px 0;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1 {
    font-size: 28px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #0b1278;
  }
  
  .frames-container {
    padding: 20px;
  }
  
  .frame {
    display: none;
    padding: 80px 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    color: #0b1278;
    font-size: 36px;
  }
  
  h3 {
    font-size: 24px;
    color: #0b1278;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  a {
    color: #0b1278;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 12px 24px;
    background-color: #0b1278;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #ffc107;
  }
  
  /* Add a nice gradient background to the header section */
  nav {
    background: linear-gradient(45deg, #0b1278, #0b1278);
  }
  
  /* Add a subtle shadow to the main content section */
  .frames-container {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Improve readability of project links */
  ul li a {
    font-weight: bold;
  }
  
  /* Add a border and padding to the profile image */
  aside img {
    border-radius: 50%;
    border: 5px solid #0b1278;
    padding: 5px;
  }